/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
    color: #665279;
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
input:focus, textarea:focus{
    outline: none;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #F9F9F9;
	font-size: 14px;
	color: #290E45;
    font-style: normal;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
}

/* ---------------------------------------------------------------------------- */
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
.__container{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;left: 0;
    object-fit: cover;
}
/* ===HEADER=================================================== */
.header__container{
    width: 100%;
    text-align: center;
}
.main{
    flex: 0 0 100%;
}
.logo-link a{
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
}
.header__wrapper{
    background-color: #ffffff;   
    position: fixed;
    z-index: 70;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10); 
}
.header__box{
    display: flex; 
    padding: 24px 0;
    align-items: center;
    justify-content: space-between;
}
.header__title{
    color: rgba(41, 14, 69, 0.90);
    font-size: 32px;
    font-weight: 700;
    margin: 150px auto 40px;
}
.header__list{
    display: flex;
    font-size: 18px;
    transition-duration: 1s;
}
.header__item:not(:last-child){
    margin: 0 40px 0 0;
}
.header__item a:hover{
    color: #543E6A;
    text-decoration: underline;
}
/* ====main================================================= */
/* ====FOOTER============================== */
.footer{
    width: 100%;
    height: 403px;
    margin: 0 auto;
    background: #fff;
    margin-top: 120px;
}
.box100{
    display: flex;
    margin: 0 auto;
    gap: 100px;
    margin-top: 70px;
}
#box102 h1{
    color: rgba(41, 14, 69, 0.90);
    font-size: 24px;
    font-weight: 400;
}
#box102 h3{
    color: rgba(51, 51, 51, 0.90);
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}
.box104{
    margin-top: 26px;
}
.box105 {
    width: 1200px;
    height: 2px;
    background: #433737;
    margin-top: 25px;
}
.box106 {
    color: rgba(67, 55, 55, 0.60);
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}
.box103{
    margin: 0 0 20px 0;
}
/* ============================= */