.main__container{
    margin: 110px 0 50px;
}
.main__back{
    background-color: white;
    margin: 110px 0 50px;
    padding: 50px 0;
}
.introduction__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.intro__title{
    color: rgba(232, 109, 138, 1);
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 25px;
}
.intro__text{
    color: rgba(41, 14, 69, 0.70);
    font-size: 22px;
    margin-bottom: 25px;
}
.introduction__pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
}
.introduction__pic .p:first-child{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.introduction__pic .p:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.introduction__pic .p:last-child{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.intro__link{
    display:inline-block;
    padding: 10px 20px;
    background: #139FEC;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}
.intro__link:hover{
    opacity: 0.8;
    transition-duration: 0.4s;
}
/* ======================================================== */
hr{
    height: 2px;
    width: 70%;
    background: #C9536F;
}
.main__page-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.title{
    color: #E86D8A;
    font-size: 20px;
    font-weight: 600;
}
.main__page-link a{
    color: #E86D8A;
    font-size: 16px;
}
.main__page-link a:hover{
    opacity: 0.8;
    transition-duration: 0.4s;
    text-decoration: underline;
}
.news__item{
    display: flex;
    gap: 30px;
}
.news__item:not(:last-child){
    margin-bottom: 25px;
}
.news__info-block{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.info-data{
    color: rgba(41, 14, 69, 0.60);
    font-size: 16px;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.news__info-title{
    color: rgba(41, 14, 69, 0.80);
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 700;
}
.news__info-text{
    background: linear-gradient(180deg, rgba(41, 14, 69, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    margin-bottom: 20px;
    flex: 0 1 100%;
}
.news__info-btn{
    max-width: 240px;
    text-align: center;
    background: #1090D7;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 2px;
}
.news__info-btn:hover{
    border: 1px solid #1090D7;
    color: #12608a;
    background-color: white;
    transition-duration: 0.4s;
}
/* === article =============================================================== */
.main__article{
    display: flex;
    gap: 50px;
}
.article__title{
    color: rgba(41, 14, 69, 0.80);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 5px;
}
.article__subtitle{
    color: #290E45;
    font-size: 20px;
    opacity: 0.95;
    margin-bottom: 25px;
}
.article__text{
    display: flex;
    flex-direction: column;
}
.art__text__box{
    flex: 0 1 100%;    
}
.art__text{
    color: rgba(41, 14, 69, 0.80);
    font-size: 18px;
    margin-bottom: 20px;
}

.article__feedback{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}
.feedback__box{
    display: flex;
    align-items: center;
    gap: 3px;
    color: rgba(41, 14, 69, 0.60);
    font-size: 16px;
}
.article__btn{
    max-width: 150px;
    border-radius: 1px;
    border: 3px solid #1090D7;
    padding: 10px 13px;
    color: #137fb9;
    border-radius: 3px;
}
.article__btn:hover{
    padding: 10px 13px;
    color: white;
    background-color: #1090D7;
    transition-duration: 0.4s;
}
/* == article ===================== */
.articles-list__box{
    margin: 40px auto;
}
.articles-list__title{
    color: #290E45;
    font-size: 22px;
    margin-bottom: 25px;
}
.art-list__name{
    color: #290E45;
    font-size: 20px;
    margin: 10px auto;
    max-width: 220px;
}
.slider__item img{
    padding: 0 20px;
    border: 2px solid #E3CED5;
}
.art-list__text{
    color: rgba(41, 14, 69, 0.80);
    font-size: 14px;
    max-width: 240px;
    margin: 0 auto;
}

/* ---slider--- */

.articles-list__slider{
    position: relative;
    z-index: 1;
}
.slick-track{
    display: flex;
    z-index: 1;
    align-items: flex-start;
}
.slider__item{
    overflow: hidden;
    text-align: center;
}
.slick-list{
    overflow: hidden;
}
.art-click .slick-arrow{
    font-size: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.slick-prev{
    margin: 0 15px 0 0;
    background: url('/images/svg/click.svg') 0 0 / 100% no-repeat;
}
.slick-next{
    background: url('/images/svg/click2.svg') 0 0 / 100% no-repeat;
}
/* =================================== */
.la .title{
    margin-bottom: 30px;
}
.main__event{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}
.main__event:not(:last-child){
    margin-bottom: 20px;    
}
.event__info-box{
    padding-bottom: 30px;
    border-bottom: 2px solid rgba(41, 14, 69, 0.5);    
}
.event__data h6{
    color: rgba(41, 14, 69, 0.80);
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.event__data p{
    color: rgba(41, 14, 69, 0.80);
    text-align: center;
}
.event__title{
    color: #290E45;
    opacity: 0.8;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}
.event__text{
    color: rgba(41, 14, 69, 0.90);
    font-size: 18px;
}