.main__container{
    border-left: 5px solid rgba(232, 109, 138, 0.70);
}
.main ._container{
    padding: 0;
}
.true__intro{
    background-color: rgba(232, 109, 138, 0.12);
    padding: 70px 35px;
    color: rgba(41, 14, 69, 0.80);
    font-size: 22px;
    line-height: 113.636%;
}
.true__search{
    margin: 40px auto;
    max-width: 700px;
    padding: 14px 25px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.20);
}
.true__search img{
    width: 24px;
}
.true__search input{
    width: 100%;
    color: rgba(57, 64, 75, 0.80);
    font-size: 18px;
}
/* ----------------- */
.true__analyze{
    padding: 40px 30px 0;
    background-color: white;
}
.analyze__box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.analyze__card{
    margin: 0 0 40px 0;
    max-width: 350px;
    flex:  1 0 33.333%;
    padding: 20px 0;
    border-radius: 2px;
    border: 2px solid #E3CED5;
}
.a-card__block{
    padding: 0 15px;
}
.a-card__block *:not(:last-child){
    margin: 10px 0 0 0;
}
.a-card__data{
    color: rgba(41, 14, 69, 0.60);
    font-size: 18px;
}
.a-card__title{
    color: rgba(41, 14, 69, 0.80);
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
}
.a-card__text{
    color: rgba(41, 14, 69, 0.80);
    font-size: 18px;
    line-height: 110%;
}
.a-card__btn a{
    display: block;
    margin: 20px 0 0 0;
    border-radius: 2px;
    text-align: center;
    padding: 8px 0;
    transition-duration: 0.4s;
    color: rgba(235, 124, 150, 0.80);
    font-size: 17px;
    border: 2px solid rgba(232, 109, 138, 0.90);
}

.a-card__btn a:hover{
    color: white;   
    border: none; 
    background-color: rgba(232, 109, 138, 0.90);
} 
.a-card__img img{
    object-fit: cover;
    max-width: 348px;
}