.group{
    display: flex;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.20);
    border-radius: 50px;
    width: 800px;
    padding: 12px 20px;
    align-items: center;
    gap: 10px;
    margin: 0 auto 60px;
}
.group img{
    width: 25px;
}
.input{
    color: rgba(41, 14, 69, 0.60);
    font-size: 18px;
    background-color: transparent;
    width: 710px;
}
.news__item{
    max-width:410px;
    padding: 20px 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.20);
}
.news__item img{
    width: 100%;
}
.haha{
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
.news__data{
    color: rgba(41, 14, 69, 0.40);
    font-size: 18px;
    margin-top: 10px;
}
.news__title{
    color: rgba(41, 14, 69, 0.90);
    font-size: 20px;
    margin-top: 15px;
    font-weight: 700;
}
.news__text{
    color: rgba(41, 14, 69, 0.70);
    font-size: 18px;
    margin-top: 10px;
    flex: 1 0 auto;
}
.news__btn{
    border-radius: 2px;
    border: 2px solid #1090D7;
    display: inline-block;
    padding: 8px 10px;
    max-width: 150px;
    margin-top: 20px;
    font-size: 16px;
    color: rgba(16, 144, 215, 0.90);
}
.news__btn:hover{
    background-color: #1090D7;
    color: white;
    transition-duration: 0.4s;
}
.news__box{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}